@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

/* You can add global styles to this file, and also import other style files */
.margin-25 {
  margin-left: 25%;
  margin-right: 25%;
}

.margin-15 {
  margin-left: 15%;
  margin-right: 15%;
}
