<div class="row text-center">
  <div class="btn-group">
    <button mat-raised-button
      color="primary"
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()">
      Previous
    </button>

    <button mat-raised-button
      mwlCalendarToday
      [(viewDate)]="viewDate">
      Today
    </button>

    <button mat-raised-button
      color="primary"
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()">
      Next
    </button>
  </div>
  <div>
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="btn-group">
    <button mat-raised-button
      color="primary"
      (click)="setView(CalendarView.Month)"
      [class.active]="view === CalendarView.Month">
      Month
    </button>

    <button mat-raised-button
      color="primary"
      (click)="setView(CalendarView.Week)"
      [class.active]="view === CalendarView.Week">
      Week
    </button>

    <button mat-raised-button
      color="primary"
      (click)="setView(CalendarView.Day)"
      [class.active]="view === CalendarView.Day">
      Day
    </button>
  </div>
</div>

<br />

<div [ngSwitch]="view">

  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    [cellTemplate]="monthCellTemplate"
  >
  </mwl-calendar-month-view>

  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>

  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>

<ng-template #monthCellTemplate let-day="day" let-locale="locale">
  <div class="monthCell" *ngVar="false as showEditButton" (mouseover)="showEditButton=true" (mouseleave)="showEditButton=false">
    <div class="cal-cell-top">
      <span class="cal-day-badge" *ngIf="day.badgeTotal> 0">
        {{ day.badgeTotal }}
      </span>

      <span class="cal-day-number">
        {{ day.date | calendarDate:'monthViewDayNumber':locale }}
      </span>
    </div>
    <div class="monthCellOptions">
      <button mat-icon-button color="primary" aria-label="Add new event" *ngIf="showEditButton">
        <mat-icon>add_circle</mat-icon>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #modalContent let-close="close">
  <div class="eventContent">
    <div class="modal-header">
      <h5 class="modal-title">{{ event?.title }}</h5>
    </div>
    <div class="modal-body">
      <div>
        Event:
        <pre>{{ event | json }}</pre>
      </div>
    </div>
    <div class="modal-footer">
      <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
      </mat-dialog-actions>
    </div>
  </div>
</ng-template>
