<div class="margin-15">
  <div *ngIf='isCalendarMode'>
    <full-calendar
      #calendar
      defaultView="timeGridWeek"
      [plugins]="calendarPlugins"
      [weekends]="true"
      [events]="events"
      deepChangeDetection="true"
      [header]="{
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      }"
      (dateClick)="HandleDateClick($event)">
    </full-calendar>
  </div>

  <div *ngIf='isCreateEventMode'>
    <app-create-calendar-event
      (canceled)="onEventCreateCanceled()"
      (created)="onEventCreated($event)">
    </app-create-calendar-event>
  </div>
</div>
