<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NotesKeeper.WebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/menubar.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='fullcalendar-4.3.1/packages/core/main.css' rel='stylesheet' />
    <link href='fullcalendar-4.3.1/packages/daygrid/main.css' rel='stylesheet' />
</head>
<body>
    @*<header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NotesKeeper</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Calendar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@
    <div class="icon-bar">
        <a class="active" asp-area="" asp-controller="Home" asp-action="Index"><i class="material-icons">date_range</i></a>
        <a href="#"><i class="material-icons">description</i></a>
        <a href="#"><i class="material-icons">done_outline</i></a>
        <a href="#" id="account_a"><i class="material-icons">account_circle</i></a>
        <a href="#" id="settings_a"><i class="material-icons">settings_input_component</i></a>
    </div>

    <div id="main" class="container fill_screen">
        <button id="openToday-button" onclick="openNav()"><i class="material-icons">arrow_back_ios</i></button>

        @RenderBody()
        @*<main role="main" class="pb-3">
            @RenderBody()
        </main>*@
        @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - NotesKeeper.WebApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    </div>

    @*<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src='fullcalendar-4.3.1/packages/core/main.js'></script>
    <script src='fullcalendar-4.3.1/packages/daygrid/main.js'></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
