<h2>Create new Event</h2>
<form [formGroup]="eventCreateForm">
  <div class="horizontal-div full-width">
    <div class="right-margin form-group forty-percent-width">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" formControlName="title" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form.title.errors }" />
        <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
          <div *ngIf="form.title.errors.required">Title is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" formControlName="description" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form.description.errors }" />
        <div *ngIf="submitted && form.description.errors" class="invalid-feedback">
          <div *ngIf="form.description.errors.required">Description is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="place">Place</label>
        <input type="text" formControlName="place" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form.place.errors }" />
        <div *ngIf="submitted && form.place.errors" class="invalid-feedback">
          <div *ngIf="form.place.errors.required">Place is required</div>
        </div>
      </div>
      <div class="horizontal-div">
        <div class="form-group">
          <label for="startTime">Start Time</label>
          <input type="time" formControlName="startTime" class="form-control" [attr.disabled]="isTimeDisabled?'':null"
            [ngClass]="{ 'is-invalid': submitted && form.startTime.errors }" [required]="!isTimeDisabled" />
          <div *ngIf="submitted && form.startTime.errors" class="invalid-feedback">
            <div *ngIf="form.startTime.errors.required">Start Time is required</div>
          </div>
        </div>
        <div class="form-group">
          <label for="endTime">End Time</label>
          <input type="time" formControlName="endTime" class="form-control" [attr.disabled]="isTimeDisabled?'':null"
            [ngClass]="{ 'is-invalid': submitted && form.endTime.errors }" [required]="!isTimeDisabled" />
          <div *ngIf="submitted && form.endTime.errors" class="invalid-feedback">
            <div *ngIf="form.endTime.errors.required">End Time is required</div>
          </div>
        </div>
        <div class="form-group horizontal-div center-align">
          <label for="isAllDay">All Day</label>
          <input type="checkbox" formControlName="isAllDay" (change)='OnCheckboxChange($event.target.checked)'
            [ngClass]="{ 'is-invalid': submitted }" />
        </div>
      </div>
    </div>
    <div class="left-margin form-group forty-percent-width">
      <div class="form-group">
        <label for="frequency">Frequency</label>
        <select formControlName="frequency" class="form-control" (change)="SelectChangeHandler($event)">
          <option *ngFor="let item of frequencyModes" value="{{item.value}}">{{item.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="startDate" *ngIf="isCustomConfigVisible">Start day</label>
        <label for="startDate" *ngIf="!isCustomConfigVisible">Day</label>
        <input type="date" formControlName="startDate" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form.startDate.errors }" />
        <div *ngIf="submitted && form.startDate.errors" class="invalid-feedback">
          <div *ngIf="form.startDate.errors.required">Start Day is required</div>
        </div>
      </div>
      <div class="form-group" *ngIf="isCustomConfigVisible">
        <label for="endDate">End day</label>
        <input type="date" formControlName="endDate" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && form.endDate.errors }" />
        <div *ngIf="submitted && form.endDate.errors" class="invalid-feedback">
          <div *ngIf="form.endDate.errors.required">End day is required</div>
        </div>
      </div>
      <div class="form-group" *ngIf="isCustomConfigVisible">
        <label for="weekDays">Days</label>
        <div name="weekDays">
          <div *ngFor="let item of week" class="horizontal-div">
            <button (click)="DaySelected($event.target.outerText)"
              [ngClass]="{'btn margin-10px':true,'btn-primary': item.isActive}">{{item.partialName}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button (click)="OnSubmit()" [disabled]="loading" class="btn btn-primary">Create</button>
    <img *ngIf="loading" class="pl-3"
      src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    <button (click)="CancelClicked()" class="btn btn-link">Cancel</button>
  </div>
</form>

